# /node_modules/
/.volumes/
/.github/
/.husky/
/.jit/
/.nx/
/databases/
/logs/
/docs/
/.deps/
/.vscode/
/dist/
/logs/
/target/
/backup/
Dockerfile*
docker-compose.yml
.editorconfig
*.env*
!.env
.env-production.local
.env.example
.eslintignore
.eslintrc.js
.gitignore
.nodenv
.nvmrc
.npmrc
.prettierrc
.yarnrc
package-lock.json
.CHANGELOG.md
heroku.yaml
Procfile
README.md
